.navbar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 40px;
}

.navbar {
    display: flex;
    padding-top: 30px;
    padding-left: 20px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding-top: 35px;
}

nav ul li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-right: 40px;
    color: black;
    text-decoration: none;
}

.about-me h1 {
   font-family: 'Poppins', sans-serif;
   padding-left: 80px;
}

p {
    font-family: 'Poppins', sans-serif;
    padding-left: 80px;
    text-align: justify;
}

.reason h1 {
    font-family: 'Poppins', sans-serif;
    padding-left: 80px;
}

.hobi h1 {
    font-family: 'Poppins', sans-serif;
    padding-left: 80px;
}

nav ul li a:hover {
    background-color: black;
    color: white;
    text-decoration: underline;
}

footer {
    background-color: rgb(223, 219, 219);
    height: auto;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    padding-top: 40px;
    color: #fff; 
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    text-transform: capitalize;
    line-height: 3rem;
    color: black;
}

.socmed {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socmed li {
    margin: 0 10px;
}

.socmed a img:hover {
    background-color: rgb(164, 177, 177);
}

.socmed img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
    margin-top: 25px;
}

.bottom-footer {
    width: 100vw;
    padding: 20px 0;

}

.bottom-footer {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.bottom-footer p {
    color: black;
    text-align: center;
}